html,
body {
  font-size: 100%;
  font-family: Helvetica;
  background-color: #282c34;
  color: #94a5b7;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/*
 * Dashboard
 */

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  columns: 2;
  gap: 5em;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #b14f48;
}

button {
  background-color: #689b70;
  border-radius: 6px;
}

form {
  display: flex;
  background-color: #383838;
  border: 3px solid #181818;
  border-radius: 6px;
  gap: 0.5em;
}

input {
  padding: 0px;
  margin: 0px;
  border-radius: 6px;
}

.connect-field {
  background-color: #94a5b7;
  text-align: center;
}

.connection-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: #383838;
  padding-left: 2px;
  border: 3px solid #181818;
  border-radius: 20px 6px 6px 20px;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-container {
  display: flex;
  gap: 5em;
}

/*
 * D-Pad
 */

.d-pad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-pad-button-container {
  display: grid;
  grid-template-columns: repeat(3, 64px);
  grid-template-rows: repeat(3, 64px);
  gap: 0.5em;
}

.d-pad-button {
  background-color: #484848;
  color: white;
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 12px;
  user-select: none;
}

.d-pad-button:hover {
  background-color: #585858;
}

.triangle.left {
  transform: rotateZ(-90deg);
}

.triangle.down {
  transform: rotateZ(180deg);
}

.triangle.right {
  transform: rotateZ(90deg);
}

/* 
 * CSS for footer
 */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5em 1em;
  background-color: #282f44;
}

.section-title {
  margin: 0;
}

.members {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}
