html,
body {
  font-size: 100%;
  font-family: Helvetica;
  background-color: #282c34;
  color: #94a5b7;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/*
 * Navbar
 */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar h2 {
  margin: 0;
}

form {
  display: flex;
  background-color: #383838;
  border: 3px solid #181818;
  border-radius: 6px;
  gap: 0.25em;
}

input {
  padding: 0px;
  margin: 0px;
  border-radius: 6px;
}

.connect-field {
  background-color: #94a5b7;
  text-align: center;
}

.connection-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: #383838;
  padding-left: 2px;
  border: 3px solid #181818;
  border-radius: 20px 6px 6px 20px;
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

/*
 * Dashboard
 */

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  columns: 2;
  gap: 5em;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #b14f48;
}

button {
  background-color: #689b70;
  border-radius: 6px;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.twist-display-container {
  background-color: #282828;
  padding: 0em 0.5em;
  border: 2px solid #101010;
  border-radius: 6px;
  min-width: 75px;
}

.twist-message {
  color: #e4e4ef;
  list-style: none;
  padding: 0;
}

/*
 * D-Pad
 */
 
object {
  cursor: pointer;
  user-select: none;
}

.dpad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2em;
}

.dpad-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 64px);
  grid-template-rows: repeat(3, 64px);
  gap: 0.5em;
}

.dpad {
  background-color: #484c54;
  color: white;
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 12px;
  user-select: none;
}

.dpad:hover,
.dpad:hover > object {
  background-color: #585858;
}

.dpad.center {
  grid-area: 2 / 2;
}

.dpad.up {
  grid-area: 1 / 2;
}

.dpad.left {
  grid-area: 2 / 1;
}

.dpad.down {
  grid-area: 3 / 2;
}

.dpad.right {
  grid-area: 2 / 3;
}

/* 
* CSS for footer
*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5em 1em;
  background-color: #282f44;
}

.section-title {
  margin: 0;
}

.members {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 700px) {
  .controls-container {
    flex-direction: column;
  }
  .dpad-container {
    padding-right: 0em;
    padding-bottom: 2em;
  }
  .twist-display-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
    min-width: 350px;
  }
}